
.gameboy-cont{

  text-align:  center;
}
.gameboy{
  top: 300px;
  width: 600px;
  height: auto;

}
.pokemonImg{
  position:relative;
  top: 250px;
  width: 200px;

}
@font-face {
font-family: "pokemon font";
src: url("css/fonts/pokemon-solid.ttf")


}
.gameTitle{
  font-family:'pokemon font';
  text-align: center;
}
table td{
  border: 1px solid black;
}
