
.gameboy-cont{

  text-align:  center;
}
.gameboy{
  text-align: center;
  width: 600px;
  height: auto;
  position: absolute;


}
.pokemonImg{
  position:relative;
  top: 50px;
  width: 200px;

  text-align: center;

}
@font-face {
font-family: "pokemon font";
src: url("css/fonts/pokemon-solid.ttf")


}
.gameTitle{

  text-align: center;
}
table td{
  border: 1px solid black;
}
.pokemonContainer{
  height: 100;
}
