
.gameboy-cont{

  text-align:  center;
}
.gameboy{
  top: 300px;
  width: 600px;
  height: auto;

}
.pokemonImg{
  position:relative;
  top: 50px;
  width: 200px;

}



}
.gameTitle{
  font-family:'pokemon font';
  text-align: center;
}
table td{
  border: 1px solid black;
}
.pokemonContainer{
  height: 100;
}
